body {
	position: relative;
}

.dialog-bar {
	display: flex;
	padding: 1rem;
}

.dialog-bar:first-child {
	background: black;
	justify-content: space-between;
}

.dialog-bar:first-child svg:first-child {
	cursor: auto;
}

#dialog-container {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.65);
	border-radius: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 80%;
	transition: opacity 0.5s;
}

#dialog-container > * {
	width: 100%;
}

#dialog-container a {
	font-size: 1.25rem;
}

#dialog-container li {
	font-size: 1.25rem;
	text-align: left;
}

#dialog-container p {
	padding: 1rem 1rem 0;
}

#dialog-container span {
	font-size: 1.25rem;
	text-decoration: underline;
}

#dialog-container ul {
	list-style: inside;
}

#dialog-container #button-container {
	gap: 1rem;
	justify-content: end;
}

#dialog-container #button-container > * {
	background-color: white;
	border-radius: 1rem;
	color: black;
	cursor: pointer;
	font-size: 1.25rem;
	padding: 0.5rem 1rem;
	transition: background 0.25s;
}

#dialog-container #button-container > *:hover {
	background-color: rgba(255, 255, 255, 0.75);
}

#dialog-root {
	backdrop-filter: 0;
	display: flex;
	height: 100%;
	inset: 0;
	justify-content: center;
	position: absolute;
	transition: backdrop-filter 0.5s;
	visibility: hidden;
	width: 100%;
	z-index: 100;
}

#dialog-root .main-container {
	align-items: center;
	display: flex;
	justify-content: center;
}

#root {
	transition: backdrop-filter 0.5s;
}

@media all and (min-width: 1100px) {
	#dialog-container {
		max-width: 50%;
	}
}
