/client/node_modules
/server/venv/Scripts
/server/**/*.*
/server/venv/Lib/site-packages/h11/tests/data/test-file
!/server/venv/Lib/site-packages/requirements.txt
!/server/venv/Lib/site-packages/server.py
!/server/venv/Lib/site-packages/station_scraper.py
!/server/venv/Lib/site-packages/stations.db
