* {
	box-sizing: border-box;
	font-family: "Google Sans", "Roboto", "Arial", "sans-serif";
	margin: 0;
	padding: 0;
	text-align: center;
}

a {
	color: white;
}

.fade-in {
	animation: fade-in 1s;
}

#root {
	height: 100vh;
}

@font-face {
	font-family: "Google Sans";
	src: url("./fonts/ProductSans-Regular.ttf");
}

@keyframes fade-in {
	0% {
		opacity: 0;
		transform: scale(1.1, 1.1);
	}
	100% {
		opacity: 1;
		transform: scale(1, 1);
	}
}
