* {
	box-sizing: border-box;
	font-family: "Google Sans", "Roboto", "Arial", "sans-serif";
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background: gray;
}

::-webkit-scrollbar-track {
	background: transparent !important;
}

a {
	all: unset;
	cursor: pointer;
	text-decoration: underline;
}

.fade-in {
	animation: fade-in 1s;
}

.grecaptcha-badge {
	visibility: hidden;
}

#bmc-wbtn {
	z-index: 0 !important;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
}

#root > div {
	display: flex;
	flex: 1;
	flex-direction: column;
}

@font-face {
	font-family: "Google Sans";
	src: url("./fonts/ProductSans-Regular.ttf");
}

@keyframes fade-in {
	0% {
		opacity: 0;
		transform: scale(1.1, 1.1);
	}
	100% {
		opacity: 1;
		transform: scale(1, 1);
	}
}

@media all and (max-width: 480px) {
	#root {
		min-height: 120vh;
	}
}
