form svg[data-testid="CalendarMonthIcon"] {
	color: white !important;
}

.MuiDateCalendar-root {
	height: auto !important;
	margin: 0;
	width: auto !important;
}

.MuiTimePicker-root {
	width: 10rem;
}

.textfield-disabled input {
	-webkit-text-fill-color: #c3c3c4 !important;
}

#date-range-container {
	flex: 1;
	min-width: 16rem;
}

#date-range-container > * {
	width: 100%;
}

#date-range-container > div > div {
	display: flex;
	gap: 1rem;
}

#date-range-container input {
	text-align: center;
}

#date-range-popover li {
	background-color: transparent !important;
	color: #c3c3c4 !important;
}

#date-range-popover .MuiPickersLayout-root {
	background-color: transparent;
}

#date-range-popover .MuiTabs-root {
	padding: 0 1rem;
}

#date-range-string {
	display: inline-block;
	padding: 1rem;
	text-align: center;
	width: 100%;
}

#date-picker-container {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
}

#date-picker-container > div {
	min-width: 0;
	padding: 0 1rem;
}

#trip-duration-container {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	padding: 1rem;
}
