.MuiAreaElement-root {
	fill: url(#chart-gradient) !important;
	fill-opacity: 0.1;
}

.MuiLineElement-root {
	stroke: rgb(70, 147, 255) !important;
}

.MuiTablePagination-root {
	display: flex;
	justify-content: center;
}

#chart-container {
	height: 10rem;
	overflow: hidden;
	position: relative;
}

#chart-container > div {
	position: absolute;
}

#chart-container > div:last-child {
	animation: 3s chart-slide-in;
	background: rgb(32, 33, 36);
	bottom: 0;
	height: 90%;
	left: 96%;
	width: 100%;
}

#fares-container {
	display: flex;
	flex: 1;
	flex-direction: column;
	height: 100%;
	padding: 1rem;
	width: 100%;
}

#fares-container > div:last-child {
	margin-top: 1rem;
}

#fares-filters {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: space-between;
}

#fares-filters > div:first-child {
	align-items: center;
	display: flex;
	gap: 0.5rem;
}

#fares-filters > div:nth-last-of-type(2) {
	color: #9aa0a6;
}

#no-options-container {
	align-items: center;
	display: flex;
	justify-content: center;
	flex: 1;
	height: 100%;
}

#no-options-container div {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

#no-options-container svg {
	font-size: 5rem;
}

#skeleton-container {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

#skeleton-container > span {
	border-radius: 0.5rem;
	height: 3rem;
}

@keyframes chart-slide-in {
	from {
		left: 0;
	}
	to {
		left: 96%;
	}
}

@media all and (max-width: 480px) {
	.MuiTablePagination-actions > button {
		padding: 0.25rem !important;
	}

	.MuiTablePagination-actions,
	.MuiTablePagination-input {
		margin: 0 !important;
	}

	.MuiToolbar-root {
		padding: 0 !important;
	}

	#fares-filters {
		justify-content: center;
		margin: 1rem 0;
	}
}
