.fare-table {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 65%;
}

.fare-table svg {
	cursor: default;
}

.table-info {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.table-info #traveler-info {
	margin-top: 0.5rem;
}

.table-stations {
	align-items: center;
	display: flex;
	gap: 1rem;
}

table {
	border-collapse: collapse;
	background-color: rgba(0, 0, 0, 0.65);
	border-radius: 1.5rem;
	overflow: hidden;
}

td,
th {
	padding: 0.3rem;
}

th {
	background-color: rgba(0, 0, 0, 0.65);
	padding-bottom: 0.75rem;
	padding-top: 0.75rem;
}

tr:nth-child(odd) {
	background-color: rgba(128, 128, 128, 0.25);
}

@media all and (min-width: 481px) and (max-width: 1099px) {
	.fare-table {
		width: 100%;
	}
}

@media all and (max-width: 480px) {
	.fare-table {
		width: 80vw;
	}

	table {
		display: block;
		overflow: scroll;
	}
}
