#map-container {
	filter: drop-shadow(0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.7));
	height: 100%;
	padding: 2.25rem 0 1rem 0;
	position: relative;
	width: 100%;
}

#map-svg {
	border-radius: 1.5rem;
	height: calc(100% - 3.25rem);
	left: 0;
	position: absolute;
	top: 2.25rem;
	width: 100%;
}

#route-box {
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 1rem 0 1rem 0;
	color: black;
	left: 0;
	padding: 0.75rem;
	position: absolute;
	top: 2.25rem;
}

#zoom-out-button {
	cursor: default;
	margin: 1rem;
	opacity: 0;
	pointer-events: auto;
	position: absolute;
	right: 0;
	top: 2.25rem;
	transition: transform 0.25s;
}

#zoom-out-button:hover {
	transform: scale(1.25);
}
