header {
	background: rgb(32, 33, 36);
	display: flex;
	justify-content: center;
	width: 100vw;
}

nav {
	align-items: center;
	display: flex;
	gap: 1rem;
	height: 3rem;
	justify-content: space-around;
}

nav a {
	color: white;
	font-size: 1.25rem;
	text-decoration: none;
}

nav > a:nth-last-child(-n + 2) {
	display: flex;
}

#donate-dialog .MuiDialog-paper {
	background: rgb(54, 55, 58);
	background-image: none;
	border-radius: 1rem;
}

#donate-dialog .MuiDialogContent-root {
	padding: 0;
	position: relative;
}

#donate-dialog .MuiIconButton-root {
	position: absolute;
	right: 1rem;
	top: 0.5rem;
}

#donate-dialog h3 {
	padding-right: 2.5rem;
}

@media all and (min-width: 481px) and (max-width: 1099px) {
	nav {
		width: 50vw;
	}
}

@media all and (max-width: 480px) {
	nav {
		gap: 0;
		width: 100vw;
	}
}
