#update-bar {
	background: red;
	font-size: 1.25rem;
	font-weight: 500;
	padding: 0.25rem;
	width: 100vw;
}

#update-bar-container {
	position: relative;
}

#update-bar-container span {
	cursor: pointer;
	text-decoration: underline;
}

#update-bar-container svg {
	bottom: 0.5rem;
	position: absolute;
	right: 1rem;
}
